<div class="section-bg-image text-center" style="background-image:url(assets/images/bg-12.png)">
    <div class="container">
        <div class="row">
            <!-- <img src="..." class="img-fluid" alt="Responsive image"> -->
            <div class="col-md-8">
                    <img 
                    data-src="//gumlet.assettype.com/thequint%2F2020-04%2F56f08c0f-4622-4ef0-9cf2-bbcfcb68703c%2FHero_Image_1.jpg?auto=format%2Ccompress&amp;w=800&amp;h=432" 
                    alt="I Called 4 COVID-19 Mental Health Helplines, Here’s What They Said" 
                    class="gm-lazy gm-loaded gm-observing gm-observing-cb" 
                    src="https://gumlet.assettype.com/thequint%2F2020-04%2F56f08c0f-4622-4ef0-9cf2-bbcfcb68703c%2FHero_Image_1.jpg?auto=format%2Ccompress&amp;w=800&amp;h=432&amp;format=webp&amp;dpr=1.0">
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <b>Top Stories</b> 
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>